h1 {
  color:black;
  text-align: center;
  height: 100px;
  font-family: 'Days One', sans-serif;
}

ul.keyboard {
  margin: 0 auto;
  width: 330px;
  height: 180px;
  background-color: white;
  overflow: hidden; /* Because we used float left, good practice to clear outside container so it doesnt affect it */
  border: 1px solid white; /* Make all the borders same, the middle ones were doubles up*/
}

li {
  width: 44px; /* make 98 to compensate for the added border of 1px on each li*/
  height: 44px;
  float: right;
  border: 1px solid white;
  text-align: center;
  line-height: 98px;
  font-size: 8px;
  color: white; 
  background-size: 44px 44px;
}

.game-screen {
  margin: 0 auto;
  width: 320px;
  height: 200px;
  overflow: hidden; /* Because we used float left, good practice to clear outside container so it doesnt affect it */
  border: 1px solid white; /* Make all the borders same, the middle ones were doubles up*/
  text-align: center;
  font-size: 90px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
ul.player-selection-bar {
  width: 320px;
  height:44px;
  background-color: white;
  margin:0 auto;
  overflow: hidden;
}

ol.player-selection-bar {
  width: 44px;
  height: 44px;
  float: left;
  margin: 0;
  padding: 0;
}

li:hover {
  border: 1px solid black;
}
