@font-face {
  font-family: manga;
  src: url(../fonts/manga-temple/mangat.ttf);
}

body {
  font-family: manga;
  text-align: center;
}

.container {
  margin: 20px;
}

h1 {
  color:black;
  text-align: center;
  height: 50px;
  font-family: manga;
  font-size: 45px;
}

ul.keyboard {
  margin: 0 auto;
  width: 330px;
  height: 235px;
  background-color: white;
  overflow: hidden; /* Because we used float left, good practice to clear outside container so it doesnt affect it */
  border: 1px solid white; /* Make all the borders same, the middle ones were doubles up*/
}

ol#start-button {
  background: red;
  color: black;
}

li {
  width: 44px; 
  height: 44px;
  float: right;
  border: 1px solid white;
  text-align: center;
  line-height: 98px;
  font-size: 8px;
  color: white; 
  background-size: 44px 44px;
  background-repeat: no-repeat;
}

li#start-button {
  background-image: url(../emojis/go.png);
  color: black;
  font-size: 10px;
}

li#rules-button {
  background-image: url(../emojis/rules.png);
  color: black;
  font-size: 10px;
}

li#difficulty-button {
  background-image: url(../emojis/difficulty.png);
  color: black;
  font-size: 10px;
}
li.blank-button {
  background: white;
  color: black;
}

.game-screen {
  margin: 0 auto;
  width: 320px;
  height: 200px;
  overflow: hidden; /* Because we used float left, good practice to clear outside container so it doesnt affect it */
  border: 1px solid white; /* Make all the borders same, the middle ones were doubles up*/
  text-align: center;
  font-size: 20px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
ul.player-selection-bar {
  width: 320px;
  height:44px;
  background-color: white;
  margin:0 auto;
  overflow: hidden;
}

ol.player-selection-bar {
  width: 44px;
  height: 44px;
  float: left;
  margin: 0;
  padding: 0;
}

li:hover {
  opacity: 0.4;
}
